footer{

    height: 200px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;

}

#divfooter{

    text-align: center;

}

#footertitle{

    font-size: 25px;
    
}
