#OurHomes{

    background-color: #383434;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#divOurHomes{

    color:white;
    height: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    padding-right: 1rem;
    padding-left: 1rem;
    
}

#titleOurHomes{

    font-size: 1.2rem;
    text-transform: capitalize;

}
 
#home1,#home2,#home3,#home4,#home5{
  
    height: 507px;
    
}
#titleHome1,#titleHome2,#titleHome3,#titleHome4,#titleHome5{

    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

#photo{

    text-align: center;
    
}
