
@import url("head.css");
@import url("homes.css");
@import url("footer.css");

body{
    
    background-color: #eeeeee;
    margin-left:25%;
    margin-right: 25%;
    font-family: 'Roboto Condensed', sans-serif;
    width: 900px;

}





